


<div class="card" >
    <div class="img1">
        <blog-item-image [image]="image"></blog-item-image>
    </div>
    
    <div class="card-body">
        
        <blog-item-text [text]="text"></blog-item-text>
    </div>
  </div>