
<ul>
<div *ngFor="let item of items$">
  <!--  <blog-item>
</blog-item>-->  
   <!--{{item.text}}-->
    <li>
        <blog-item [image]="item.image" [text]="item.text">
        </blog-item>
      </li>
    
  

</div>
</ul>